body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.703), rgba(0, 0, 0, 0.703)), url('Images/WhatsApp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: white;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 46px;
    color: #fff;
}

p {
    font-size: 24px;
    color: #fff;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.user-info img {
    width: 350px;
    height: 250px;
    border-radius: 10%;
    margin-right: 20px;
}

.user-details p {
    margin: 0;
}

.btn.btn-dark {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.box {
    position: relative;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding-right:35px;
}

.box::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: background 0.3s ease;
}

.box a {
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.box:hover::before {
    background: rgba(0, 0, 0, 0.3);
}
