/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('Images/detect.jpg') no-repeat center center fixed; 
    background-size: cover;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

h1, h2 {
    color: #333;
    text-align: center;
}

p {
    color: #666;
    text-align: center;
}

form {
    margin-top: 20px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-column {
    flex: 1;
    min-width: 300px;
}

input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #000;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

input[type="number"]:hover, select:hover {
    background-color: #e6e6e6;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-top: 10px;
}


.image-container {
    text-align: center;
    margin-bottom: 20px;
}



.dashboard-link {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.dashboard-link a {
    color: white;
    text-decoration: none;
}
